.blog-page {
    margin: 0px;
    padding: 0px;
    padding-top: 80px;
    display: block;
    padding-right: 5%;
    padding-left: 5%;

    h1 {
        color: white;
        text-align: center;
        padding-bottom: 0px;
        font-weight: 200;
        font-size: 50px;
        margin: 0px;
    }
}