.home-section {
    background-attachment: scroll;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 0;
}
    
.hero {
    width: 33vh;
    box-shadow: 5px 5px 10px black;
    float: right;
}
    
.home-section-left {
    width: 50vh;
    padding-right: 30px;
    margin-left: 0%;
}
    
.home-section-right {
    width: 50vh;
    padding-left: 30px;
    font-family: sans-serif;
    font-style: normal;
}
  