/* ------------About-Page------------ */

section {
    height: 100vh;
    display: flex;
}

.section-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero {
    max-width: 340px;
    max-height: 340px;
    padding-right: 20px;
}

.section-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-info {
    padding-left: 20px;
}

.home-info h1 {
    text-align: left;
    padding: 0%;
    margin: 0%;
    font-weight: 200;
    font-size: 60px;
    line-height: 70px;
}

.home-info p {
    padding: 0%;
    margin: 0%;
    font-weight: 200;
    font-size: 25px;
}

.contact {
    margin: 0%;
    padding: 10px 0px 0px 0px;
    display: inline;
    float: left;
}

.icon {
    height: 46px;
    max-width: 46px;
    display: flex;
    cursor: pointer;
    justify-content: center;
}

.contact-icon p{
    text-align: center;
    font-size: 10px;
    opacity: 0%;
    cursor: none;
    list-style-type: none;
    text-emphasis: none;
    text-decoration: none;
    color: black;
    transition: opacity 0.2s ease-in;
}

.contact-icon:hover p{
    opacity: 100%;
    cursor: pointer;
    list-style-type: none;
    text-emphasis: none;
    text-decoration: none;
    color: black;

}



/* ------------About-Page------------ */
