/* ------------About-Page------------ */

.section {
    height: 100vh;
    display: flex;
}

.section-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero {
    max-width: 340px;
    max-height: 340px;
    // padding-right: 20px;
    box-shadow: 3px 5px 5px #888888;
}

.section-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-info {
    padding-left: 20px;
}

.home-info h1 {
    text-align: left;
    padding: 0%;
    margin: 0%;
    font-weight: 200;
    font-size: 60px;
    line-height: 70px;
}

.home-info p {
    padding: 0%;
    margin: 0%;
    font-weight: 200;
    font-size: 25px;
}

.contact {
    margin: 0%;
    padding: 10px 0px 0px 0px;
    display: inline;
    float: left;
}

.icon {
    height: 46px;
    max-width: 46px;
    display: flex;
    cursor: pointer;
    justify-content: center;
}

.contact-icon p{
    text-align: center;
    font-size: 10px;
    opacity: 0%;
    visibility: hidden;
    cursor: none;
    list-style-type: none;
    text-emphasis: none;
    text-decoration: none;
    color: black;
    transition: opacity 0.2s ease-in, visibility 0.2s ease-in;

}

.contact-icon:hover {
    p{
        opacity: 100%;
        visibility: visible;
        cursor: pointer;
        list-style-type: none;
        text-emphasis: none;
        text-decoration: none;
        color: black;
    }
}

@media only screen and (max-width: 750px) {
    .section {
        display: block;
    }
    
    .section-left {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }
    
    .hero {
        max-width: 300px;
        max-height: 300px;
        padding: 0px;
        margin-top: 80px;
        align-self: center;
    }
    
    .section-right {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .home-info {
        padding: 0px;
        display: block;
        justify-content: center;
    }

    .home-info h1 {
        text-align: center;
        padding: 0%;
        margin: 0%;
        font-weight: 200;
        font-size: 50px;
        line-height: 55px;
    }
    
    .home-info p {
        padding: 0%;
        margin: 0%;
        font-weight: 200;
        font-size: 20px;
        text-align: center;
    }
    
    .contact {
        margin: 0%;
        padding: 10px 0px 0px 0px;
        display: inline-flex;
        justify-self: center;
        margin-left: 26px;

    }

    .contact-icon:hover {
        p{
            opacity: 0%;
            visibility: hidden;
            cursor: none;
            list-style-type: none;
            text-emphasis: none;
            text-decoration: none;
            color: black;
            display: none;
        }
    }
}
/* ------------About-Page------------ */
