.Portfolio {
    height: 100vh;
    display: flex;
    flex-direction: column;

    h1 {
        padding-top: 90px;
        color: black;
        align-items: center;
        text-align: center;
        padding-bottom: 0px;
        font-weight: 400;
        font-size: 50px;
        margin: 0px;
    }
}


.projects-container {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    flex-wrap: wrap;
}